.messages-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sent {
    justify-content: flex-end;
}

.received {
    justify-content: flex-start;
}

.messages-container {
    background-color: var(--color-principal-5);
    padding: 6px 7px 8px 9px;
    max-width: 70%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.received .messages-container {
    background-color: var(--color-principal-0);
}

.time{
    color: var(--color-principal-9);
    font-weight: 400;
    font-size: 11px;
    display: flex;
    align-items: end;
}

.text{
    font-weight: 400;
    font-size: 15px;
    word-break: break-word;
}

.status{
    display: flex;
    align-items: end;
}

.icon-check{
    width: 14px;
    height: 14px;
}

.icon-check.seen{
    color: var(--color-principal-10);
}

.icon-check.not-seen{
    color: var(--color-principal-9);
}

.icon-trash{
    width: 14px;
    height: 14px;
}

.messages-container button{
    display: flex;
    align-items: end;
    background-color: transparent;
    border: none;
}

@media screen and (max-width: 550px) {
    .messages-container{
        max-width: 95%;
    }
    
}