.new-message-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin: 0px 12px 12px 12px;
    width: 100%;
    border-radius: 26px;
    background-color: var(--color-principal-0);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.167);
}

.buttons-new-message{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.icons-new-message{
    width: 24px;
    height: 24px;
    color: var(--color-principal-13);
}

.new-message-form input{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    flex-grow: 1;
    padding-left: 10px;
}