.contact-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
}

.contact-item:hover{
    background-color: var(--color-principal-1);
    border-radius: 15px;
}

.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px 0px 13px;
    height: 72px;
}

.avatar img {
    border-radius: 100%;
    width: 55px;
    height: 55px;
    object-fit: cover;
}

.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-right: 15px;
    gap: 2px;
}

.name-date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.name{
    font-size: 16px;
    color: var(--color-principal-13);
    font-weight: 400;
}

.date{
    font-size: 12px;
    font-weight: 400;
    color: var(--color-principal-9);
}

.message-pin{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.message-pin button {
    background-color: transparent;
    border: none;
}

.message-pin span{
    font-weight: 400;
    font-size: 14px;
    color: var(--color-principal-9);
}

.icon-pin-contact-item{
    color: var(--color-principal-9);
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 455px) {
    .avatar{
        height: 50px;
    }
    .name{
        font-size: 14px;
    }
    .date{
        font-size: 10px;
    }
    .message-pin span{
        font-size: 12px;
    }
    .icon-pin-contact-item{
        width: 15px;
        height: 15px;
    }
}