.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 12px;
    width: 64px;
    background-color: var(--color-principal-1);
    height: 100%;

}

.top-section{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 8px;
    border-radius: 100px;
    border: none;
}

.icons-header{
    width: 24px;
    height: 24px;
    color: var(--color-principal-9);
}

.link:hover{
    background-color: var(--color-principal-3);
}

.link.active{
    background-color:var(--color-principal-3);
}

.link.active .icons-header{
    color: var(--color-principal-13);
}

.settings-profile{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.settings-profile .btn_img{
    padding: 6px;
}

.btn_img img{
    width: 28px;
    height: 28px;
    border-radius: 100px;
}


/* Media queries */

@media screen and (max-width: 930px) {
    .header.hide{
        display: none;
    }
    
}

@media screen and (max-width: 455px) {
    .header{
        width: 50px;
    }
    .link{
        padding: 5px;
    }
    .icons-header{
        width: 18px;
        height: 18px;
    }
    .btn_img img{
        width: 25px;
        height: 25px;
    }
}