.user-profile{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.left-screen{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: var(--color-principal-0);
    border-right: 2px solid var(--color-principal-7);
    text-align: start;
}

.right-screen{
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: var(--color-principal-4);
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.left-screen h1{
    padding: 20px 20px;
    font-weight: 400;
    font-size: 20px;
}

.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 28px 0px;
}

.left-screen img{
    width: 128px;
    height: 128px;
    border-radius: 100%;
}

.profile-info{
    padding: 14px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-info span{
    font-weight: 400px;
    font-size: 15px;
    color: var(--color-principal-9);
}

.profile-info-edit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile-info-user span{
    font-size: 16px;
    font-weight: 400;
    color: var(--color-principal-13);
}

.icon-user-profile{
    width: 24px;
    height: 24px;
    color: var(--color-principal-9);
}

.profile-description{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 20px 28px 30px;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-principal-9);
}

@media screen and (max-width: 1280px) {
    .left-screen{
        width: 40%;
    }
    
    .right-screen{
        width: 60%;
    }
    
}

@media screen and (max-width: 930px){
    .left-screen{
        width: 100%;
    }
    .right-screen{
        display: none;
    }
}