header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--color-principal-0);
}


header h1 {
    font-size: 22px;
    font-weight: 600;
    color: #1daa61;
}

.buttons{
    display: flex;
    flex-direction: row;
}

.icon-contact-header{
    color: var(--color-principal-13);
}

.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color-principal-0);
    padding: 0px 20px;
}

.search-bar{
    background-color: var(--color-principal-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    border-radius: 100px;
    border: 1px solid var(--color-principal-7);
    width: 100%;
}

.search-button{
    background-color: transparent;
    border: none;
}

.icon-search{
    width: 20px;
    height: 20px;
    color: #636261;
}

.search-bar input{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
    font-weight: 400;
    width: 90%;
}

.search-bar input::placeholder{
    font-size: 15px;
    font-weight: 400;
    color: var(--color-principal-9);
}

.search-bar:hover{
    border: 1px solid var(--color-principal-9);
}

.tabs{
    display: flex;
    flex-direction: row;
    padding: 10px 10px 7px 20px;
    gap: 8px;
    background-color: var(--color-principal-0);
}

.tabs-btns{
    border: 1px solid var(--color-principal-7);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-principal-9);
    background-color: transparent;
    padding: 6px 12px;
    font-size: 15px;
    font-weight: 400;
}

.tabs-btns:hover{
    border: 1px solid var(--color-principal-6);
    background-color: var(--color-principal-5);
    color: var(--color-principal-12);
}

.contact-list{
    display: flex;
    flex-direction: column;
    background-color: var(--color-principal-0);
}

.archived{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 4px;
}

.archived button{
    width: 49px;
    height: 49px;
    margin-left: 14px;
    margin-right: 14px ;
}

.icon-file{
    width: 24px;
    height: 24px;
    color: var(--color-principal-9);
}

.archived span{
    font-size: 16px;
    font-weight: 400;
    color: var(--color-principal-13);
}